machine:
  network:
    hostname: talos02
    interfaces:
      - deviceSelector:
          hardwareAddr: 04:0e:3c:94:ac:ef
        mtu: 1500
        dhcp: true
        vip:
          ip: 192.168.42.120
  disks:
    - device: /dev/disk/by-id/nvme-CT1000P3SSD8_24514D33CAA3
      partitions:
        - mountpoint: /var/mnt/extra
  install:
    diskSelector:
      model: CT500P1SSD8
    image: factory.talos.dev/installer/4b3cd373a192c8469e859b7a0cfbed3ecc3577c4a2d346a37b0aeff9cd17cdb0:{{ ENV.TALOS_VERSION }}
